A.transparent
{
  background-color: #FCFCFC;
  color: #D4D4D4;
}

.transparent img
{
  filter: alpha(opacity = 25);
  -moz-opacity: 0.25;
  border-color: #FCFCFC;
}

A.audio_link
{
 color: #FFA346; 
}

.audio_link img
{
 border-color: #FF8000; 
}
