/*CSS per finestre popup */

body 
{
  background-color: #d5f0f7;
  color: ButtonText;
  font-family: Arial;
  font-size: 0.8em;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*
body>div
{
	background-color: #d5f0f7;
	background-image: url(images/popup-back.jpg);
  background-position: bottom;
  background-repeat: repeat-x;  
}
*/
form p 
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.fl { float: left; padding: 2px 5px; text-align: right; }
.fr { float: left; padding: 2px 5px; text-align: right; }
fieldset { padding: 0px 10px 5px 5px; }

button { width: 70px; }

.title 
{ 
  background-image: url(images/title-back.jpg);
  background-position: bottom;
  background-repeat: repeat-x; 
  color: #000; 
  font-weight: bold; 
  font-size: 1.3em; 
  font-variant:small-caps; 
  padding: 3px 10px 12px 0px; 
  margin-bottom: 10px; 
  letter-spacing: 2px; 
  text-align: center;
}

form 
{ 
  padding: 0px; 
  margin: 0px; 
}

#buttons 
{
      margin-top: 1em; 
      border-top: 1px solid #999;
      padding: 2px; 
      text-align: right;
}

/*Dimensioni standard div delle etichette e degli input*/
.labels
{
  float: left;
  width: 22%;
  margin-bottom: 4px;
}
.inputs
{
  width: 70%;
  float: left;
  margin-bottom: 4px;
}

.bottom_buttons
{
	margin-top: 15px; 
	border-top: 1px solid #999; 
	padding: 2px; 
	text-align: right;
}

/*
.bottom_buttons .button-on
{
	background-color: #c6eff7;
	border-top: #9ccede 2px solid;
	border-left: #9ccede 2px solid;
	border-right: #fff 2px solid;
	border-bottom: #fff 2px solid;
	color: #000;
}
*/

.bottom_buttons button
{
	background-color: /*#c6eff7;*/#ffffff;
	border-top:#eff7ff 2px solid; 
	border-left:  #eff7ff 2px solid;
	border-right: #9ccede 2px solid;
	border-bottom:#9ccede 2px solid;
	color: #000;
}
